#applicationDiv{
    border-style: groove;
    /* border-color: black; */
    padding: 10px;
    overflow: auto;
}

#viewApplication{
    border-radius: 20px;
    position: absolute;
    right: 15px;
}

.applicationDiv:after {
    content:'';
    display:block; /* or whatever else than inline */
   clear:both;
}
