:root {
    --color-primary: #007bff;
    --color-secondary: #6c757d;
    --color-success: #28a745;
    --color-danger: #dc3545;
    --color-white: #ffffff;
    --color-black: #000000;
    --font-size-small: 14px;
    --font-size-medium: 16px;
    --font-size-large: 18px;
  }
  
  /* body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: var(--color-white);
    color: var(--color-black);
  } */
  
  h1 {
    text-align: center;
    color: var(--color-primary);
  }
  
  .application {
    margin: auto;
    width: 90%;
    border-radius: 20px;
    background-color: var(--color-white);
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 

    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .application h2 {
    color: var(--color-primary);
  }
  
  .application p {
    color: var(--color-black);
  }
  
  .file {
    margin-top: 20px;
  }
  
  .file-link {
    color: var(--color-primary);
  }
  
  .buttonsA {
    text-align: center;
    margin-top: 20px;

  }
  
  button {
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .approve-btn {
    background-color: var(--color-success);
    color: var(--color-white);
    border-radius: 10px;
  }
  
  .approve-btn:hover {
    background-color: #218838;
  }
  
  .disapprove-btn {
    background-color: var(--color-danger);
    color: var(--color-white);
    border-radius: 10px;
  }
  
  .disapprove-btn:hover {
    background-color: #c82333;
  }
  