Base
body {
  line-height: 1.7;
  color: #8c92a0;
  font-weight: 300;
  font-size: 16px;
  background: #efefef; 

  padding: 10px;  /* added for approval progress blade */
}


.text-white {
  color: #fff !important; 
  
}

.text-black {
  color: #000; 
}




.site-section {
  padding: 2.5em 0; 
}
  @media (min-width: 768px) {
    .site-section {
      padding: 5em 0; } 
    }
  .site-section.site-section-sm {
    padding: 4em 0; 
  }


.site-footer {
  padding: 6em 0; 
}
  .site-footer ul li {
    margin-bottom: 10px; 
  }
    .site-footer ul li a {
      color: #5c626e; 
    }
      .site-footer ul li a:hover {
        color: white; 
      }
  .site-footer .footer-heading {
    font-size: 1.2rem;
    color: #000;
    margin-bottom: 1rem; 
  }




/* Blocks */
.site-wrap {
  max-width: 1200px;
  margin: 0 auto;
  background: #fff;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); 
}


  @media (max-width: 991.98px) {
    .site-blocks-cover .featured-hero-product {
      margin-top: 10%;
      position: absolute; } 
    }
  